@import "bootstrap-sprockets";
@import "bootstrap";

.box {
  border: orange solid 2px;
  border-radius: 8px;
  text-align: center;
  margin: 15%;
  padding: 15px;
  background-color: whitesmoke;
}
body {
  background-image: linear-gradient(lightsteelblue, lightskyblue,dodgerblue);
  font-family: American Typewriter, serif;
}

footer {
  text-align: center;
}